<div><mat-toolbar class="toolbar"><img src="./assets/img/logo-minsalud.png" height="60" width="250"></mat-toolbar></div>
<div fxLayoutAlign="center center" fxFlexFill class="form">
    <mat-card fxFlex="27">
        <form fxLayoutAlign="start" fxLayout="column" class="login-form">
            <mat-form-field >
              <input matInput placeholder="Usuario" >
            </mat-form-field>
          
            <mat-form-field >
                <input matInput type="password" placeholder="Contraseña">
            </mat-form-field>
            <button mat-raised-button color="warn" type="submit">Ingresar</button>
        </form>
    </mat-card>
</div>
