.toolbar{
  box-shadow: 5px 3px 3px rgb(165, 165, 165);
background-color: rgb(247, 247, 247);
margin: 0rem auto;
display: flex;
justify-content: space-between;
padding: 0 64px;
}
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: rgb(180, 180, 180);
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;

}
